[submodule "Server-Performance-Stats"]
	path = Server-Performance-Stats
	url = https://github.com/Jimil1407/Server-Performance-Stats.git
[submodule "Log-archive-tool"]
	path = Log-archive-tool
	url = git@github.com:Jimil1407/Log-archive-tool.git
[submodule "github-workflow-pipeline"]
	path = github-workflow-pipeline
	url = ../github-workflow-pipeline
[submodule "aws-gh-actions-pipeline"]
	path = aws-gh-actions-pipeline
	url = https://github.com/Jimil1407/aws-gh-actions-pipeline.git
